@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
  -webkit-scrollbar-gutter: stable;
  scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
  scrollbar-color: theme("colors.primary.200") theme("colors.gray.50");
  -webkit-scrollbar-color: theme("colors.primary.200") theme("colors.gray.50");
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.200");
    border-right-color: theme("colors.primary.100");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    display: inline-block; /* aby sa správal ako inline prvok */
    width: 1em; /* veľkosť rovnajúca sa veľkosti textu */
    height: 1em; /* zachová pomer 1:1 */
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}

.rbc-toolbar-label {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color: theme("colors.primary.700") !important;
}

.rbc-btn-group {
  background-color: theme("colors.gray.50") !important;
  border: 1px-gray-100 !important;
}

button.rbc-active {
  background-color: theme("colors.primary.50") !important;
  box-shadow: none !important;
  border-width: 1px !important;
  border-color: theme("colors.primary.200") !important;
}

.rbc-btn-group button:hover {
  background-color: theme("colors.primary.50") !important;
  box-shadow: none !important;
  border-width: 1px !important;
  border-color: theme("colors.primary.200") !important;
}

.rbc-btn-group button:active {
  scale: 0.95 !important;
}

.rbc-header {
  background-color: theme("colors.gray.50") !important;
  color: theme("colors.primary.700") !important;
}

div.rbc-day-bg.rbc-off-range-bg {
  background-color: theme("colors.gray.100") !important;
}

div.rbc-day-bg.rbc-today {
  background-color: theme("colors.primary.100") !important;
  /* border: 2px solid theme("colors.primary.500") !important; */
}

.rbc-event {
  font-size: 0.8rem !important;
  margin: 2px !important;
  padding-left: 8px !important;
  width: 95% !important;
}

th.rbc-header {
  border-width: 1px !important;
  border-color: theme("colors.primary.200") !important;
}

.rbc-agenda-time-cell {
  border-width: 1px !important;
  border-color: theme("colors.primary.200") !important;
}

.rbc-agenda-table {
  border-width: 1px !important;
  border-color: theme("colors.primary.200") !important;
}

.rbc-agenda-event-cell {
  border-width: 1px !important;
  border-color: theme("colors.primary.200") !important;
}

@media (max-width: 640px) {
  /* div.rbc-calendar {
  } */

  div.rbc-header {
    font-size: 0.8rem !important;
    color: theme("colors.primary.600") !important;
    font-weight: 700 !important;
  }

  button.rbc-button-link {
    font-size: 0.8rem !important;
    color: theme("colors.primary.600") !important;
    font-weight: 600 !important;
  }

  div.rbc-day-bg {
    font-size: 0.8rem !important;
    border: none !important;
  }

  .rbc-month-view.rbc-month-row {
    height: 20px !important;
  }
}
