# name: Cypress E2E (prod URL)

# on:
#   push:
#     branches: [main]
#   pull_request:

# jobs:
#   cypress-matrix:
#     strategy:
#       fail-fast: false
#       matrix:
#         include:
#           - os: ubuntu-latest
#             browser: chrome
#           - os: windows-latest
#             browser: edge

#     runs-on: ${{ matrix.os }}

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Use Node.js
#         uses: actions/setup-node@v4
#         with:
#           node-version: 20
#           cache: npm

#       - run: npm ci

#       - name: Cypress run (${{ matrix.browser }})
#         uses: cypress-io/github-action@v6
#         with:
#           record: true
#           parallel: true
#           group: ${{ matrix.browser }}
#           ci-build-id: ${{ github.run_id }}
#           browser: ${{ matrix.browser }}
#         env:
#           CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

name: Cypress E2E (prod URL)

on:
  push:
  workflow_dispatch:

jobs:
  cypress-run:
    name: Cypress on ${{ matrix.browsers }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browsers: ["chrome", "edge"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js with npm cache
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm" # 游대 cache pre r칳chlej코iu in코tal치ciu bal칤kov

      - name: Install dependencies (clean)
        run: npm ci # 丘뙖잺 pou쬴je package-lock.json na spo쬬hliv칰 in코tal치ciu

      - name: Cypress run in ${{ matrix.browsers }}
        uses: cypress-io/github-action@v6
        with:
          browser: ${{ matrix.browsers }}
          record: true
          parallel: true
          group: ${{ matrix.browsers }}
          ci-build-id: ${{ github.run_id }}
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
